/* Author: Shelley Wong */
body{
  background-image: url("http://wallpaper.zone/img/605157.jpg");
}

.headingstyle{
  color: khaki;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
}

.textstyle{
  color: lightyellow;
  font-size: 25px;
  font-family: "Century Schoolbook", serif;
}

.buttonstyle{
  color: midnightblue;
  background-color: khaki;
  font-size: 25px;
  font-family: "Century Schoolbook", serif;
}

.imagesource{
  color: lightblue;
  font-size: 15px;
  font-family: "Century Schoolbook", serif;
}
